{% extends "base.html" %}

{% block title %}Home | Omkar Patange{% endblock %}

{% block content %}
<section class="intro">
  <img src="{{ url_for('static', filename='img/IMG_1109.JPG') }}" alt="Profile">
  <div class="intro-text">
    <h2><i>Hello,👋  I'm Omkar Patange </i></h2>
    <h2>Cloud & Web Developer</h2>
    <p>AWS | Docker | JavaScript | CI/CD | HTML | CSS | DevOps | GitHub | GitLab | BitBucket</p>
  </div>
  
</section>

<section class="certifications">
  <h2>🏅 My Certifications</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='img/C.jpg') }}" alt="C Certification">
        <h3>C Programming</h3>
        <p>N-Infinity — 2024</p>
      </div>
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='img/Python.jpg') }}" alt="Python Certification">
        <h3>Python for Beginners</h3>
        <p>EduComp — 3-October-2024 to 10-December-2024</p>
      </div>
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='img/CPP.jpg') }}" alt="CPP Certification">
        <h3>CPP Programming</h3>
        <p>EduComp — 7-January-2024 to 22-February-2024</p>
      </div>
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='img/NodeJs.jpg') }}" alt="NodeJs Certification">
        <h3>NodeJs Development</h3>
        <p>EduComp — 25-February-2024 to 18-April-2024</p>
      </div>
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='img/Java.jpg') }}" alt="Java Certification">
        <h3>Java Programming</h3>
        <p>EduComp — 21-July-2024 to 18-September-2024</p>
      </div>
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='img/Adv-Java.jpg') }}" alt="Adv-Java Certification">
        <h3>Adv-Java Programming</h3>
        <p>EduComp — 08-January-2025 to 11-March-2025</p>
      </div>
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='img/NSS.jpg') }}" alt="NSS Volunteering">
        <h3>NSS Volunteering</h3>
        <p>Gover — 21-July-2022 to 18-September-2024</p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
{% endblock %}
